body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #c09a66 0%, #fcb69f 100%);
  color: #333;
}

.pa{
  font-size: 23px;
  color: rgb(27, 24, 24);

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
  color: rgb(255, 255, 254);
  text-decoration: none;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo a {
  color: rgb(216, 203, 203);
  font-size: 1.5rem;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: rgba(223, 52, 52, 0.8);
  border-radius: 10px;
  margin: 2rem;
}

.hero-text {
  max-width: 50%;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.btn {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}

.about {
  padding: 2rem;
  background-color: rgba(233, 60, 60, 0.8);
  border-radius: 10px;
  margin: 2rem;
  text-align: center;
}

.contact {
  padding: 2rem;
  background-color: rgba(243, 33, 33, 0.63);
  border-radius: 10px;
  margin: 2rem;
}

.contact-details {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  color: #3b2d2d;
}

.contact-info {
  text-align:center ;
  
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

